body {
  font-family: "Arial", sans-serif;
  font-size: 11pt;
  background-color: #f0f0f0;

  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  color: #333;

  line-height: 1.5;
  padding: min(5%, 20px) min(10%, 100px);

  text-transform: lowercase;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  gap: 1rem;
  display: flex;
}

nav p {
  flex-grow: 0;
}

nav span.fill {
  margin: 0 1rem;
  flex-grow: 1;
}

ul {
  list-style: none;
  padding: 0 20px;
}

ul li:before {
  content: '-';
  position: absolute;
  margin-left: -20px;
}

hr {
  border: 0;
  border-top: 1px dashed currentColor;
  margin: 2rem 0;
  opacity: 0.2;
}

img.avatar {
  border-radius: 50%;
  margin-left: 2rem;
  float: right;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #f0f0f0;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    padding-bottom: 4rem;
  }

  img.avatar {
    float: none;
    height: 128px;
    width: 128px;
    margin: 0 auto;
    display: block;
  }
}